
.collections-container{
    text-align: center;
}
.collections-header{
    margin: 2rem 1rem;
}

.collections-header p{
    font-size: 14px;
    color: grey;
}
.collections-header h2{
    font-family: 'Playfair Display',serif;

}
.collections-list {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
}
.collections-image-container{
    overflow: hidden;
    width: 100%;
    height: 50vh;
}
.collections-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: pointer;
    transition: transform ease 1s;
}
.collections-image:hover{
    transform: scale(1.1);
}

@media (max-width: 768px)
{
    .collections-header{
        margin: 0;
    }
    .collections-image-container{
        height: 20vh;
    }
    .collections-header p,.collections-header h2{
        padding: 0.5rem;
    }
}