.new-arrival {
    margin: 2rem 0;
    text-align: center;
    height: 65vh;
}
.new-arrival-header{
    height: 30%;
    display: flex;
    justify-content: space-between;
}
.new-arrival-heading-section{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-arrival h2 {
   
    font-size: 24px;
}

.new-arrival p {
    color: grey;
    font-size: 16px;
}

.filter-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 20%;
    padding: 1rem;
}


/* .filter-select {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
} */
.filter-button{
    width: 100%;
    padding: 0.5rem;
    background-color: #ffffff;
    font-size: 18px;
    border: 1px solid #ccc;
}

.filter-button-red {
    padding: 10px 1.5rem;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
    font-weight: 500;
    letter-spacing: 1px;
}

.filter-button-red:hover {
    opacity: 0.8;
}

.product-grid {
    height: 70%;
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    overflow-x: auto;

}

.product-card {
    position: relative;
    border: 1px solid #ddd;
    width: 200px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    overflow: hidden; /* Ensure the scaled image doesn't overflow the card */
    cursor: pointer;
}

.product-card img {
    width: 100%;
    height: auto;
    transition: transform 1.3s ease-in-out; /* Smooth scaling transition */

}

.product-card h3 {
    font-size: 18px;
    margin: 10px;
}

.product-card .price {
    color: red;
    font-weight: bold;
    margin: 0 10px 10px 10px;
}

.product-card .second-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 1s ease-in-out; /* Smooth transition for opacity and scaling */
}

.product-card:hover .second-image {
    opacity: 1;
    transform: scale(1.1); /* Scale up the second image on hover */
}

.product-card .cart-icon {
    position: absolute;
    top: 5%;
    right: -40px; /* Initially hidden on the right */
    background-color: white;
    padding: 10px;
    transition: right 0.5s ease-in-out; /* Smooth transition for the icon movement */
    z-index: 3; /* Ensure the cart icon is above other elements */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-card:hover .cart-icon {
    right: 10px; /* Show the icon on hover */
}

.cart-icon .MuiSvgIcon-root {
    font-size: 24px; /* Adjust icon size if needed */
}
.cart-icon:hover{
    color: red;
}